{% extends 'plantilla_menu.html' %}

{% block informe %}
    active
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				INFORME GENERAL 
				<small>RADIOLOGIA</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i>  <a href="/menu">Inicio</a>
				</li>
				<li>
					<i class="fa fa-folder-open"></i> Radiologia
				</li>
				<li class="active">
					<i class="fa fa-print"></i> Informe General
				</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}
