apt-xapian-index==0.45
cairocffi==0.7.2
CairoSVG==1.0.20
cffi==1.6.0
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
cssselect==0.9.1
debtagshw==0.1
defer==1.0.6
dirspec==13.10
Django==1.9.4
django-tinymce==2.3.0
django-wkhtmltopdf==3.0.0
html5lib==0.999
httplib2==0.8
lxml==3.3.3
MySQL-python==1.2.3
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
PAM==0.4.2
pexpect==3.1
Pillow==2.3.0
pisa==3.0.33
piston-mini-client==0.7.5
psutil==1.2.1
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.66
pygobject==3.12.0
pyOpenSSL==0.13
PyPDF2==1.25.1
Pyphen==0.9.4
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
six==1.5.2
software-center-aptd-plugins==0.0.0
tinycss==0.3
Twisted-Core==13.2.0
Twisted-Web==13.2.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==1.11.4
WeasyPrint==0.27
xhtml2pdf==0.0.6
zope.interface==4.0.5