{% extends 'plantilla_menu.html' %}

{% block menu %}
<li>
	<a href="/menu"><i class="fa fa-fw fa-dashboard"></i> Inicio</a>
</li>
<li  class="active">
	<a href="javascript:;" data-toggle="collapse" data-target="#eco"><i class="fa fa-fw fa-suitcase"></i> Ecografia <i class="fa fa-fw fa-caret-down"></i></a>
	<ul id="eco" class="collapse">
		<li>
			<a href="/ecografia"><i class="fa fa-fw fa-edit"></i>  Registros</a>
		</li>
		<li>
			<a href="/consulta_eco"><i class="fa fa-fw fa-search"></i>  Consulta de registros</a>
		</li>
		<li>
			<a href="/especialista"><i class="fa fa-fw fa-print"></i>  Reportes Por Especialista</a>
		</li>
	</ul>
</li>
<li>
	<a href="javascript:;" data-toggle="collapse" data-target="#rad"><i class="fa fa-fw fa-suitcase"></i> Radiologia <i class="fa fa-fw fa-caret-down"></i></a>
	<ul id="rad" class="collapse">
		<li>
			<a href="/radiologia"><i class="fa fa-fw fa-edit"></i>  Registros</a>
		</li>
		<li>
			<a href="/consulta_rad"><i class="fa fa-fw fa-desktop"></i>  Consulta de registros</a>
		</li>
        <li>
            <a href="/inventario"><i class="fa fa-fw fa-table"></i> Inventario</a>
        </li>
		<li>
			<a href="/lectura"><i class="fa fa-fw fa-search"></i>  Lectura</a>
		</li>
	</ul>
</li>
<li>
	<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart"></i> Informes <i class="fa fa-fw fa-caret-down"></i></a>
	<ul id="demo" class="collapse">
		<li>
			<a href="/infoecografia"><i class="fa fa-fw fa-print"></i>  Informes Ecografia</a>
		</li>
		<li>
			<a href="/inforadiologia"><i class="fa fa-fw fa-print"></i>  Informe Radiologia</a>
		</li>
	</ul>
</li>
<li>
	<a href="javascript:;" data-toggle="collapse" data-target="#admin"><i class="fa fa-fw fa-cogs"></i> Administración <i class="fa fa-fw fa-caret-down"></i></a>
	<ul id="admin" class="collapse">
		<li>
			<a href="/usuarios"><i class="fa fa-fw fa-user"></i>  Crear Usuarios</a>
		</li>
	</ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				REPORTES ESPECIALISTAS 
				<small>ECOGRAFIA</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i>  <a href="/menu">Inicio</a>
				</li>
				<li>
					<i class="fa fa-folder-open"></i> Ecografia
				</li>
				<li class="active">
					<i class="fa fa-file"></i> Informes Especialistas
				</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}
