<div class="container initial">
	<!-- Modal -->
	<div id="nuevoModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<form class="form-horizontal" method="post" id="formguardar" action="guardarpersona" >
					{% csrf_token %}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div class="col-sm-12 text-box">
							<h2 class="modal-title">PACIENTE NUEVO</h2>
						</div>
                         <!-- /.row -->
                        <div class="col-lg-12">
                        {% if ind == 1 %}
                            <div class="alert alert-success fade in" id="resp-success">
                                <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
                            </div>
                        {% elif ind == 0 %}
                            <div class="alert alert-danger fade in" id="respuesta">
                                <i class="fa fa-close"></i> <strong>  {{ resp }}</strong>
                            </div>
                        {% endif %}
                        </div>
                        <!-- /.row -->
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="col-xs-3">
										<label class="control-label">Nombres:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" name="nombre" id="nombre" type="varchar" required/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-3">
										<label class="control-label">Apellidos:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" name="apellido" id="apellido" type="text" placeholder="" required />
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-3">
										<label class="control-label">Tipo de Id:</label>
									</div>
									<div class="col-xs-4">
										<select class="form-control" name="tipoid" required>
											<option value="">Seleccione</option>
											{% for t in tipoid %}
												<option value="{{ t.id }}">{{ t.tipoid }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-3">
										<label class="control-label">Número de Id:</label>
									</div>
									<div class="col-xs-4">
										<input class="form-control" name="identificacion" id = "identificacion" maxlength="10" type="text" placeholder="" required />
									</div>
								</div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                        <label class="">Fecha de nacimiento:</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input class="form-control fechanacimiento" id="fechanacimineto" name="fechanacimiento"/>
                                    </div>
                                </div>
								<div class="form-group">
									<div class="col-xs-3">
										<label class="control-label">Genero:</label>
									</div>
									<div class="col-xs-9">
										<div class="col-xs-3">
                                            <h6>Masculino<input type="radio" id="genero" name='genero' value="M" class="form-control" ></h6>
                                        </div>
                                        <div class="col-xs-3">
                                            <h6>Femenino<input type="radio" id="genero1" name='genero' value="F" class="form-control" ></h6>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="guardar_persona" type="submit" class="btn btn-success">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>