<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Imagenologia - Bienvenido</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/lib/sweetalert.css" rel="stylesheet">
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link href="/static/css/plantilla.css" rel="stylesheet">
    <link href="/static/js/jquery-ui/jquery-ui.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body {% block reloj %}{% endblock %}>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand log"><img class="logo"src="/static/img/logo.png"></a>
                <a class="navbar-brand">Libro de registros Imagenologia</a>
                
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
					
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bienvenido {{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
					
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#no_disponible"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>                       
                        <li>
                            <a href="#no_disponible"><i class="fa fa-fw fa-gear"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li {% block menu %}{% endblock %}>
                        <a href="/menu"><i class="fa fa-fw fa-dashboard"></i> Inicio</a>
                    </li>
                    {% if user.groups.all.0.id == 1 or user.groups.all.0.id == 3 or user.groups.all.0.id == 5 %}
                        <li class="{% block ecografia %}{% endblock %}">
                            <a href="javascript:;" data-toggle="collapse" data-target="#eco"><i class="fa fa-fw fa-suitcase"></i> Ecografia <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="eco" class="collapse">
                                <li>
                                    <a href="/consulta_eco"><i class="fa fa-fw fa-search"></i>  Consulta de registros</a>
                                </li>
                                <li>
                                    <a href="/ecografia"><i class="fa fa-fw fa-edit"></i>  Ingreso de registros</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if user.groups.all.0.id == 1 or user.groups.all.0.id == 2 or user.groups.all.0.id == 3 or user.groups.all.0.id == 5 %}
                        <li class="{% block radiologia %}{% endblock %}">
                            <a href="javascript:;" data-toggle="collapse" data-target="#rad"><i class="fa fa-fw fa-suitcase"></i> Radiologia <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="rad" class="collapse">

                                {%  if user.groups.all.0.id == 1 or user.groups.all.0.id == 2 or user.groups.all.0.id == 5 %}
                                    <li>
                                        <a href="/consulta_rad"><i class="fa fa-fw fa-desktop"></i>  Consulta de registros</a>
                                    </li>
                                    <li>
                                        <a href="/entrega_turno"><i class="fa fa-fw fa-pencil-square-o"></i>  Entrega para lectura</a>
                                    </li>
                                    <li>
                                        <a href="/etiquetas/?resp="><i class="fa fa-fw fa-bookmark"></i> Impresión de etiquetas</a>
                                    </li>
                                    <li>
                                        <a href="/inventario"><i class="fa fa-fw fa-table"></i> Inventario</a>
                                    </li>
                                    <li>
                                        <a href="/radiologia"><i class="fa fa-fw fa-edit"></i>  Ingreso de registros</a>
                                    </li>
                                {% endif %}

                                {%  if user.groups.all.0.id == 1 or user.groups.all.0.id == 3 or user.groups.all.0.id == 5 %}
                                    <li>
                                        <a href="/lectura"><i class="fa fa-fw fa-search"></i>  Lectura</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    {% endif %}

                    <li class="{% block informe %}{% endblock %}">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart"></i> Informes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li class="ecograp">
                                <a href="/infoecografia"><i class="fa fa-fw fa-print"></i>  Informes Ecografia</a>
                            </li>
                            <li>
                                <a href="/especialista"><i class="fa fa-fw fa-print"></i>  Informe Especialista</a>
                            </li>
                            <li class="radiolog">
                                <a href="/inforadiologia"><i class="fa fa-fw fa-print"></i>  Informe Radiologia</a>
                            </li>
                        </ul>
                    </li>


                        <li class="manager {% block administracion %}{% endblock %}"s>
                            <a href="javascript:;" data-toggle="collapse" data-target="#admin"><i class="fa fa-fw fa-cogs"></i> Administración <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="admin" class="collapse">
                                <li>
                                    <a href="/usuarios"><i class="fa fa-fw fa-user"></i>  Crear Usuarios</a>
                                </li>
                            </ul>
                        </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
		<div class="fondo">
			<div id="page-wrapper">
			{%  block content %}

			{% endblock %}
			</div>
		</div>
		<!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="col-sm-12 margen">
		<a class="abajo">
			<p>&copy; 2016 | Sociedad de Especialistas Girardot</p>
		</a>
	</div>
</nav>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/lib/functions.js"></script>
    <script src="/static/js/lib/sweetalert.min.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/static/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/js/funciones.js"></script>
    <script src="/static/js/fecha_datepicker.js"></script>
    <script src="/static/js/validacion_keypress.js"></script>
    <script src="/static/js/reloj.js"></script>
	{% block scripts%}
					
	{% endblock %}
</body>

</html>
