{% extends 'plantilla_menu.html' %}

{% block radiologia %}
active
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    ENTREGA PARA LECTURA
                    <small>RADIOLOGIA</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/menu">Inicio</a>
                    </li>
                    <li>
                        <i class="fa fa-folder-open"></i> Radiologia
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Entrega de placas
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.row -->
        <div class="col-lg-12">
        {% if ind == 0 %}
            <div class="alert alert-info fade in" id="respuesta_lectura">
                <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
        {% elif ind == 1 or ind == 2 %}
            <div class="alert alert-success fade in" id="respuesta_lectura">
                <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
        {% elif ind == 3 %}
            <div class="alert alert-warning fade in" id="respuesta_lectura">
                <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
        {% else %}
            <div class="alert alert-danger fade in" id="respuesta_lectura">
                <i class="fa fa-close"></i> <strong>  Error inesperado, comuniquese con el administrador del sistema</strong>
        {% endif %}
            </div>
        </div>
	<!-- /.row -->
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" action="buscar_entrega_turno">
            {% csrf_token %}
            <div class="col-xs-12 row form-group">
                <div class="col-sm-12">
                    <div class="col-md-1">
                        <label>Fecha inicial:</label>
                    </div>
                    <div class="col-md-3">
                        <input name="fechainicial" id="" class="form-control fecha" type="text" required />
                    </div>

                    <div class="col-md-1">
                        <label>Fecha final:</label>
                    </div>
                    <div class="col-md-3">
                        <input name="fechafinal" id="" class="form-control fecha" type="text" required />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <form name="form-lectura" method="post" action="guardar_entrega_turno">
            {% csrf_token %}
                <div class="table-responsive">
                    <input name="tecnico" value="{{ user.id }}" style="display: none" />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2">N° de orden</th>
                                <th rowspan="2">Nombre</th>
                                <th rowspan="2">N° de identificación</th>
                                <th rowspan="2">Fecha</th>
                                <th rowspan="2">Entidad</th>
                                <th rowspan="2">Servicio</th>
                                <th colspan="2">Entregar</th>
                            </tr>
                            <tr>
                                <th>Si</th>
                                <th>No</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in registros %}
                                <tr>
                                    <td style="display: none"><input name="id{{ forloop.counter0 }}" value="{{ r.id }}"/></td>
                                    <td>{{ r.numinterno }}</td>
                                    <td>{{ r.serviciopaciente.persona.nombre }} {{ r.serviciopaciente.persona.apellido }}</td>
                                    <td>{{ r.serviciopaciente.persona.identificacion }}</td>
                                    <td>{{ r.fecha |date:"d/m/Y" }}</td>
                                    <td>{{ r.entidad.entidad }}</td>
                                    <td>{{ r.serviciopaciente.servicio.servicio }}</td>
                                    <td>
                                        <input class="form-control" name="confirmacion{{ forloop.counter0 }}" value="SI" type="radio" />
                                    </td>
                                    <td>
                                        <input class="form-control" name="confirmacion{{ forloop.counter0 }}" value="NO" type="radio" />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-success btn-lg">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="margen-froter"></div>
{% endblock %}
