{% extends 'plantilla_menu.html' %}

{% block radiologia %}
    active
{% endblock %}

{% block reloj %}
    onload=" mueveReloj()"
{% endblock %}

{% block content %}
    {% include "personas.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <h1 class="page-header">
                    REGISTROS
                    <small>RADIOLOGIA</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/menu">Inicio</a>
                    </li>
                    <li>
                        <i class="fa fa-folder-open"></i> Radiologia
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Registros
                    </li>
                </ol>
            </div>
        <!-- /.row -->
            <div class="col-lg-12">
            {% if ind == 1 %}
                <div class="alert alert-success fade in" id="resp-success">
                    <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
                    <a class="btn btn-success" id="imprimir" target="blank" href="/generar_pdf">Imprimir Etiqueta</a>
            {% elif ind == 0 %}
                <div class="alert alert-danger fade in" id="respuesta">
                    <i class="fa fa-close"></i> <strong>  {{ resp }}</strong>
            {% else %}
                <div class="alert alert-info fade in" id="respuesta">
                    <i class="fa fa-info-circle"></i> <strong>  {{ resp }}</strong>
            {% endif %}
                </div>
            </div>
        <!-- /.row -->
            <div class="col-lg-12">
                <div class="row">
                    <form class="form-horizontal" id="form-radiologia" name="form-radiologia" method="post" action="guardarradiologia">
                    {% csrf_token %}
                        <div class="col-xs-12 row form-group">
                            <div class="col-xs-1">
                                <label>Número de Id:</label>
                            </div>
                            <div class="col-xs-3">
                                <div class="input-group">
                                  <input name="numeroid" id="numid" class="form-control" type="varchar" required />
                                  <span class="input-group-btn">
                                    <button id="find" class="btn btn-default" type="button">Buscar</button>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary" href="#" type="button" data-toggle="modal" data-target="#nuevoModal">
                                    Nuevo <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-6 usuario">
                                <h3><div id="nombres" ></div></h3>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group seccion">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12 form-group">
                                        <div class="col-xs-1">
                                            <label>Tipo paciente:</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="tipopaciente" name="tipopaciente" required>
                                                <option value="">Seleccione</option>
                                                {% for p in tipopaciente %}
                                                    <option value="{{ p.id }}">{{ p.tipopaciente }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <label>Fecha:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input name="fecha" id="fecha" class="form-control fecha" type="text" required />
                                        </div>
                                        <div class="col-md-1">
                                            <label>Hora:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input name="hora" id="hora" class="form-control" type="text" required />
                                        </div>
                                    </div>

                                    <div class="col-xs-12 form-group">
                                        <div class="col-sm-1">
                                            <label>Área:</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="area" name="area" required>
                                                <option value="">Seleccione</option>
                                                {% for area in area %}
                                                <option value="{{ area.id }}">{{ area.area }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <label>Entidad:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control" name="entidad" required >
                                                <option value="">Seleccione</option>
                                                {% for e in entidad %}
                                                <option value="{{ e.id }}">{{ e.entidad }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 form-group">
                                        <div class="col-md-1">
                                            <label>Servicio:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <input class="form-control" id="codigo" name="codigo" />
                                                <span class="input-group-btn">
                                                    <button id="codservicio" class="btn btn-default" type="button">Buscar</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control" id="servicio" name="servicio" required>
                                                <option value="">Seleccione</option>
                                                {% for s in servicio %}
                                                <option value="{{ s.id }}">{{ s.servicio }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div  class="col-xs-12 form-group">
                                        <div class="col-xs-1">
                                            <label>Doc.Interno:</label>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="docint" name="docinterno" required>
                                                <option value="">Seleccione</option>
                                                {% for doc in docint %}
                                                <option value="{{ doc.id }}">{{ doc.docint }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-1">
                                            <label>Número:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="numinterno" name="numinterno" maxlength="8" type="text" placeholder="" required />
                                        </div>
                                        <div id="insumo">
                                            <div class="col-xs-2">
                                                <label>Cantidad iopamidol:</label>
                                            </div>
                                            <div class="col-xs-2">
                                                <input class="form-control" id="insumo" name="insumo" type="text" />
                                            </div>
                                            <div class="col-sm-1">
                                            <input name="tecnico" value="{{ user.id }}" style="visibility:hidden" />
                                        </div>
                                        </div>
                                    </div>
                                    <div  class="col-xs-12 form-group">
                                        <div class="col-xs-1">
                                            <label>Dosis Mgy:</label>
                                        </div>
                                        <div class="col-xs-1">
                                            <input class="form-control" id="dosismgy" type="text" placeholder="" readonly />
                                        </div>
                                        <div class="col-xs-1">
                                            <label>Kilovoltaje:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input class="form-control"  id="kilovoltaje" name="kilovoltaje" maxlength="3" type="" placeholder="" required />
                                        </div>
                                        <div class="col-xs-1">
                                            <label>Miliamp:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="miliamperaje" name="miliamperaje" maxlength="4" type="" placeholder="" required />
                                        </div>
                                    </div>
                                    {% include "radiologia/placas.html" %}
                                    <div class="col-sm-12">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button class="btn btn-info" href="#" id="placausada_btn" type="button" data-toggle="modal" data-target="#placa-usadaModal">
                                                Placas Usadas
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button class="btn btn-danger" href="#" type="button" data-toggle="modal" data-target="#placa-danadaModal">
                                                Placas Dañadas
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 seccion">
                                        <div class="col-sm-10"></div>
                                        <div class="col-sm-2">
                                            <button id="guardar" class="btn btn-success btn-lg btn-block" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>N° de identificación</th>
                            <th>Hora</th>
                            <th>Servicio</th>
                            <th>Area</th>
                            <th>Entidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in registros %}
                        <tr>
                            <td>{{ r.serviciopaciente.persona.nombre }} {{ r.serviciopaciente.persona.apellido }}</td>
                            <td>{{ r.serviciopaciente.persona.identificacion }}</td>
                            <td>{{ r.hora }}</td>
                            <td>{{ r.serviciopaciente.servicio.servicio }}</td>
                            <td>{{ r.area.area }}</td>
                            <td>{{ r.entidad.entidad }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="margen-froter"></div>
    {% include "radiologia/campos_placas.html" %}
{% endblock %}